# config
/.config/*

*.log
*.old

# Windhawk
/Windhawk/Engine
/Windhawk/ModsSource
/Windhawk/UIData/
!/Windhawk/UIData/user-data/User/settings.json

# FlowLauncher
/FlowLauncher/Cache
/FlowLauncher/Logs
/FlowLauncher/Plugins
/FlowLauncher/Settings/*
!/FlowLauncher/Settings/Settings.json

# PowerToys
/PowerToys/*
!/PowerToys/settings.json
!/PowerToys/Keyboard Manager/
/PowerToys/Keyboard Manager/*
!/PowerToys/Keyboard Manager/default.json
!/PowerToys/Keyboard Manager/editorSettings.json
!/PowerToys/Keyboard Manager/settings.json

# Backup files
*.bak

# Other
.glzr/glazewm-autotile.py
.glzr/zebar/ryha/.gitignore
.glzr/zebar/ryha/index.html
.glzr/zebar/ryha/package.json
.glzr/zebar/ryha/README.md
.glzr/zebar/ryha/tsconfig.json
.glzr/zebar/ryha/vite.config.ts
.glzr/zebar/ryha/zpack.json
.glzr/zebar/ryha/resources/preview-image-1.png
.glzr/zebar/ryha/src/index.css
.glzr/zebar/ryha/src/index.tsx
