/.config/yasb/yasb.log

# Windhawk
/Windhawk/Engine
/Windhawk/ModsSource
/Windhawk/UIData/
!/Windhawk/UIData/user-data/User/settings.json

# FlowLauncher
/FlowLauncher/Cache
/FlowLauncher/Logs
/FlowLauncher/Settings/History*
/FlowLauncher/Plugins/**
!/FlowLauncher/Plugins/**/
/FlowLauncher/Settings/Plugins/**
!/FlowLauncher/Settings/Plugins/**/plugin.json

# Backup files
*.bak